<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SisCor</title>

    <environment include="Development">
        <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' />
        <link rel="stylesheet" href="~/lib/bootstrap4/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap4/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-collapse">
        <a class="navbar-brand"  asp-area="" asp-controller="Home" asp-action="About">SisCor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">MEU PAINEL</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="~/ParceiroTipo/Index" id="navbarDropdown" role="button" data-toggle="dropdown">
                        Operacional
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Operadora" asp-action="Index">Operadoras</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Plataforma" asp-action="Index">Plataformas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Sindicato" asp-action="Index">Sindicatos/Entidades</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Segmento" asp-action="Index">Segmentos</a>
                        <a class="dropdown-item" asp-area="" asp-controller="ProdutoTipo" asp-action="Index">ProdutoTipo</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="~/ParceiroTipo/Index" id="navbarDropdown" role="button" data-toggle="dropdown">
                        Gerenciamento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Campanha" asp-action="Index">Campanhas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="PagamentoComissao" asp-action="Index">Pagamento de Comissões</a>
                        <a class="dropdown-item" asp-area="" asp-controller="RecebimentoComissao" asp-action="Index">Recebimento de Comissões</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-area="" asp-controller="Produto" asp-action="Index">Produtos</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Tabela" asp-action="Index">Tabelas</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Usuários</a>
                        <a class="dropdown-item" href="#">Perfil de Acesso</a>
                    </div>
                </li>
                @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="~/ParceiroTipo/Index" id="navbarDropdown" role="button" data-toggle="dropdown">
                        Relatórios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Venda" asp-action="Index">Vendas</a>
                    </div>
                </li>*@
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Oferta" asp-action="Index">Oferta Ativa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Proposta" asp-action="Index">Propostas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CampanhaAtiva" asp-action="Index">Campanhas Ativas</a>
                </li>
            </ul>
            @*<form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquise aqui..." aria-label="Search">
                    <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>*@
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - SisCor</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src='http://code.jquery.com/jquery-2.1.3.min.js'></script>
        <script src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'></script>
        <script>
            $(function () {
                $('.dropdown-toggle').dropdown();
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
