@model SisCor.Models.ParceiroTipo

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja excluir este registro?</h3>
<div>
    <h4>Parceiro Tipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Parceiro Tipo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
