@model SisCor.Models.Parceiro

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Parceiro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPessoa" class="control-label"></label>
                <select asp-for="IdPessoa" class="form-control" asp-items="ViewBag.IdPessoa"></select>
                <span asp-validation-for="IdPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdParceiroTipo" class="control-label"></label>
                <select asp-for="IdParceiroTipo" class="form-control" asp-items="ViewBag.IdParceiroTipo"></select>
                <span asp-validation-for="IdParceiroTipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

